
build/
initrd/
sysroot
.*/

.*

#Output files
*.o
*.a
*.img
*.iso
*.bin

#Misc config files
*.ini
*.bxrc

#Generated source files
kernel/main/syscalltbl.c
phlibc/src/syscalls.asm

#Output files
miraiBoot
miraiBoot.efi
efibuild

init/init

config

#Downloaded files
*.tar.gz
*.tar.bz2

GPATH
GRTAGS
GTAGS
